@font-face {
  font-family: "Atari";
  src: url(../fonts/AtariST8x16SystemFont.ttf);
}

html, body {
}

body {
  font-family: Atari;
  background-color: #000;
  div.canvas {
    left: 20px;
    margin:auto;
  }
  #canv_hidden, #canv_hidden_intro, #canv_visual1, #canv_visual2, #canv_visual3, #canv_visual4  {
      display: none;
  }
  div.canvas {
  }

  /*
    Outro
  */
  div.outro {
    display: none;
    opacity: 0;
  }

  div.outro-text {
    color: #fff;
    position: fixed;
    top: 330px;
    width: 800px;
    height: 100%;
    z-index: 20;

    span {
      visibility: hidden;
    }

    p {
      visibility: hidden;
      clear: both;
      padding-bottom: 22px;
      margin-bottom: 40px;

      span.title {
        visibility: hidden;
        width: 400px;
        display: inline-block;
      }

      span.value {
        visibility: hidden;
        width: 400px;
        text-align: right;
        display: inline-block;
        float: right;
      }
    }

  }

}

